# The Spies Among Us
***


## <br>Table of Contents

1. Introduction and Methodology <br>
    1.1 Business Objectives <br>
    1.2 Situation Assessment <br>
    1.3 Data Mining Goals <br>
2. Exploration and Understanding 
3. Pre-processing
4. Modelling
5. Performance Assessment
6. Conclusions

In [11]:
# theme
#!jt -t grade3
#!jt -r # remove theme

# importing required libraries that will be used in this project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [28]:
# Loading the dataset and visualizing summary statistics
df = pd.read_csv(r'datasets/espionage_data_test.csv', sep='\;')

In [29]:
# Show top 5 rows
df.head()

,ID,ID_ORIGINAL,Gender,Foreign_Citizenship,Age,Frequent_Traveler,Cellphone_Usage,Household_Size,Satisfaction_Level,Occupation,Political_Participation,Social_Person,Area_Residence,Military_Service,Household_Income
0,7499,464281,Female,No,39,Yes,Low,1.0,4.0,Private company,Unknown,No,City,Never,7000
1,7500,466423,Female,No,42,No,Low,1.0,5.0,Nothing,No involvement,Yes,City,Never,17088
2,7501,462396,Male,Yes,50,Yes,Average,2.0,3.0,Government,No involvement,No,City,Never,7000
3,7502,459896,Female,Yes,40,Yes,Low,2.0,2.0,Private company,Unknown,No,City,Never,18349
4,7503,466340,Male,No,19,No,Low,3.0,1.0,Private company,Some involvement,Yes,Country-side,Never,8261

## Exploration and Understanding
***

### <br> Statistical Analysis

In [30]:
df.info

<bound method DataFrame.info of         ID  ID_ORIGINAL  Gender Foreign_Citizenship  Age Frequent_Traveler  \
0     7499       464281  Female                  No   39               Yes
1     7500       466423  Female                  No   42                No
2     7501       462396    Male                 Yes   50               Yes
3     7502       459896  Female                 Yes   40               Yes
4     7503       466340    Male                  No   19                No
...    ...          ...     ...                 ...  ...               ...
1496  8995       466246    Male                  No   19                No
1497  8996       461781    Male                 Yes   57               Yes
1498  8997       465079    Male                 Yes   75               Yes
1499  8998       465402    Male                  No   31                No
1500  8999       467106    Male                 Yes   45               Yes

     Cellphone_Usage  Household_Size  Satisfaction_Level       Occupation  \
0                Low             1.0                 4.0  Private company
1                Low             1.0                 5.0          Nothing
2            Average             2.0                 3.0       Government
3                Low             2.0                 2.0  Private company
4                Low             3.0                 1.0  Private company
...              ...             ...                 ...              ...
1496             Low             4.0                 1.0  Private company
1497             Low             2.0                 3.0  Private company
1498             Low             1.0                 8.0    Self-employed
1499             Low             NaN                 NaN  Private company
1500         Average             3.0                 2.0  Private company

     Political_Participation Social_Person Area_Residence Military_Service  \
0                    Unknown            No           City            Never
1             No involvement           Yes           City            Never
2             No involvement            No           City            Never
3                    Unknown            No           City            Never
4           Some involvement           Yes   Country-side            Never
...                      ...           ...            ...              ...
1496        Some involvement           Yes           City            Never
1497                 Unknown            No           City            Never
1498          No involvement            No           City            Never
1499        Some involvement            No           City            Never
1500      Strong involvement           Yes           City            Never

      Household_Income
0                 7000
1                17088
2                 7000
3                18349
4                 8261
...                ...
1496              7000
1497              7000
1498              8261
1499              7000
1500             12044

[1501 rows x 15 columns]>

<div class="alert alert-block alert-danger">
<b>Danger:</b> This alert box indicates a dangerous or potentially negative action.
</div>

<div class="alert alert-block alert-success">
<b>Success:</b> This alert box indicates a successful or positive action.
</div>

<div class="alert alert-block alert-warning">
<b>Example:</b> Use yellow boxes for examples that are not inside code cells, or use for mathematical formulas if needed. Typically also used to display warning messages.
</div>

<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes.</div>